.Picker button {
  background: 0;
  border: 1px solid #868e96;
  color: #868e96;
  border-radius: 2px;
}

.Picker button:hover {
  color: #fff;
  background-color: #868e96;
  cursor: pointer;
}

.Picker .Picker-button {
  color: #17a2b8;
  border:  1px solid #17a2b8;
  padding: 10px;
  font-size: 1em;
}

.Picker .Picker-button:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
